.cache
.settings
bin
target
editor/*generated*
editor/java/trans
include
lib-refactoring/*.generated.str
lib/analysis-library-internal.generated.str
lib/analysis-library.generated.str
lib/compilation-library.generated.str
lib/editor-common.generated.str
lib/index-library.generated.str
lib/nbl-library.generated.str
lib/refactor-common.generated.str
lib/runtime
syntax/*generated*
test/*.aterm
utils