<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="str" description="Plain Stratego editor" language="Stratego-Sugar" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.editors.stratego.StrategoSugarValidator" validatorClass="org.strategoxt.imp.editors.stratego.StrategoSugarValidator" icon="icons/stratego.gif"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.stratego.parser" name="Stratego Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.stratego.StrategoSugarParseController" language="Stratego-Sugar">
          </parser>
       </extension>    
    </plugin>
