<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="tego" description="Tego" language="Tego" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.editors.tego.TegoValidator" validatorClass="org.strategoxt.imp.editors.tego.TegoValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.editors.tego.parser" name="Tego Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.editors.tego.TegoParseController" language="Tego">
          </parser>
       </extension>    
    </plugin>