/.cache
/bin
/editor/java/trans
/editor/*.generated.*
/include
/src-gen
/syntax/*.generated.*
/target
/trans/*.pp.generated.str
/lib/*.generated.*
/build

/.classpath
/.project
/.settings

/.polyglot.metaborg.yaml
